$purple: rgb(161, 117, 211);
$grey: #dbdbdb;

@font-face {
    font-family: HelveticaRegular;
    src: url("./assets/HelveticaNeueRegular.ttf") format('truetype');
}
@font-face {
    font-family: HelveticaBold;
    src: url("./assets/HelveticaNeueBold.ttf") format('truetype');
}

body {
  margin: 0;
  font-family: 'HelveticaRegular', 'Verdana';
  font-weight: normal;
  font-style: normal;
}
